@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/interLight.woff2") format("woff2"),
    url("../fonts/interLight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
